<div class="main-container">
  <div class="index-block">
    <p class="block-title">posts</p>
    <% page.posts.each(function(item){ %>
      <%- partial('_partial/article-index', { item: item }) %>
    <% }); %>
  </div>
  <div class="projects-block">
    <p class="block-title">projects</p>
    <% config.projects.map(function(item) { %>
      <%- partial('_partial/project', { item: item }) %>
    <% }); %>
  </div>
  <div class="contacts-block">
    <p class="block-title">contacts</p>
    <div class="contacts">
      <% config.contacts.map(function(item) {%><a href='<%- item.url %>' target='_blank'><span><%- item.cate %></span></a><%}); %>
    </p>
  </div>
</div>