<div class="main-container">
  <div class="index-block">
    <p class="block-title">posts</p>
    <% page.posts.each(function(item){ %>
      <%- partial('_partial/article-index', { item: item }) %>
    <% }); %>
  </div>
  <div class="projects-block">
    <p class="block-title">projects</p>
    <% config.projects.map(function(item) { %>
      <%- partial('_partial/project', { item: item }) %>
    <% }); %>
  </div>
  <div class="contacts-block">
    <p class="block-title">contacts</p>
    <div class="contacts">
        <% config.contacts.map(function(item) {%>
          <div class="c-block">
            <a href='<%- item.url %>' target='_blank'><span class="title"><%- item.cate %></span></a>
          </div>
        <%}); %>
    </p>
  </div>
</div>
