<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Tony Chan">
    <title><%- config.author %> is blogging</title>
    <link href='//cdn.bootcss.com/highlight.js/9.9.0/styles/gruvbox-dark.min.css' rel='stylesheet' />
    <script src="//cdn.bootcss.com/highlight.js/9.9.0/highlight.min.js"></script>
    <script src="//cdn.bootcss.com/highlight.js/9.9.0/languages/javascript.min.js"></script>
    <script src="//cdn.bootcss.com/highlight.js/9.8.0/languages/bash.min.js"></script>
    <%- css('css/style') %>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- Custom styles for this template -->
</head>